body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    background-color: #e0e0e0;
}

header {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  background-color: #0431f7;
  padding: 10px;
  border: 1px solid #000000;
  border-bottom-right-radius: 5px;
  text-align: center;
  box-shadow: 5px 5px 10px 0px #666;
}

header .url {
    position: absolute;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: #ffffff;
}

header a {
  color: #ffffff;
}

header .logo {
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
    text-decoration: none;
    text-shadow: #000000 1px 1px 2px;
    font-weight: bold;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px #666;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: #777;
}

ul {
    list-style-type:decimal-leading-zero;
    padding-left: 20px;
}
li {
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #e9e9e9;
}
tr:hover {
    background-color: #a7a7a7;
    cursor: crosshair;
}

.correct {
    accent-color: green;
    background-color: rgba(0,128,0,0.2);
}
.incorrect {
    accent-color: red;
}